<div class="body">
  <div class="card">
    <h1>LOGIN</h1>
    <form (ngSubmit)="login()">
      <div class="content">
        <label for="username">Username</label>
        <input
          type="text"
          [(ngModel)]="username"
          required
          placeholder="Benutzername"
          name="username"
        />
      </div>
      <div class="content">
        <label for="password">Password</label>
        <input
          type="password"
          [(ngModel)]="password"
          required
          placeholder="Password"
          name="password"
        />
      </div>
      <button>Login</button>
    </form>
  </div>
</div>
