/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-color: #141d2f;
  font-family: "PT Sans", "Open Sans", sans-serif;
  font-size: clamp(1rem, 0.933rem + 0.36vw, 1.2rem);
  color: white;
  overflow-x: hidden !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
